//
//	ANIMATE
//	----------------------------------------------------------------------------
.animate( @property: all, @time: 0.6s ) {
	-webkit-transition: @arguments;
	-moz-transition: @arguments;
	-ms-transition: @arguments;
	-o-transition: @arguments;
	transition: @arguments;
}

//
//	BLOCK ELEMENT
//	----------------------------------------------------------------------------
.make-block( @margin-bottom ) {
	margin-bottom: @margin-bottom;
	
	&:last-child {
		margin-bottom: 0;
	}
}

//
//	BUTTON ELEMENT
//	----------------------------------------------------------------------------
.make-button( @bg-color, @alt-bg-color, @color, @font-size, @height, @radius ) {
	.animate();
	.make-rounded( @radius );
	background-color: @bg-color;
	border: 0;
	color: @color;
	cursor: pointer;
	display: inline-block;
	font-size: @font-size;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1;
	padding: ( @height / 2 - @font-size / 2 ) 1em;
	text-transform: uppercase;
	width: auto;
	
	&:hover {
		background-color: @alt-bg-color;
	}
}

//
//	CLEAR FLOATS
//	----------------------------------------------------------------------------
.clr {
	&:after, &:before {
		content: '';
		display: table;
	}
	
	&:after {
		clear: both;
	}
}

//
//	GRID COLUMNS
//	----------------------------------------------------------------------------
.make-columns( @columns, @gutter, @screen, @i: 1 ) when ( @i =< @columns ) {
	.col-@{screen}-@{i} {
		float: left;
		padding-left: @gutter / 2;
		padding-right: @gutter / 2;
		width: percentage( @i / @columns );
	}
	
	.make-columns( @columns, @gutter, @screen, ( @i + 1 ) );
}

//
//	OVERLAY
//	----------------------------------------------------------------------------
.overlay( @color: black, @opacity: 0.8 ) {
	&, & > * {
		position: relative;
	}
	
	&:before {
		background-color: @color;
		bottom: 0;
		content: '';
		display: block;
		left: 0;
		opacity: @opacity;
		position: absolute;
		right: 0;
		top: 0;
	}
}

//
//	ROW
//	----------------------------------------------------------------------------
.make-row( @gutter ) {
	.clr;
	margin-left: @gutter / -2;
	margin-right: @gutter / -2;
}

//
//	ROUNDED CORNERS
//	----------------------------------------------------------------------------
.make-rounded( @radius ) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

//
//	SCREEN READER TEXT
//	----------------------------------------------------------------------------
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

//
//	SHADOW
//	----------------------------------------------------------------------------
.shadow( @h, @v, @blur, @color ) {
	-webkit-box-shadow: @arguments;
	-moz-box-shadow: @arguments;
	box-shadow: @arguments;
}

//
//	INNER SHADOW
//	----------------------------------------------------------------------------
.shadow-inner( @h, @v, @blur, @color ) {
	-webkit-box-shadow: inset @arguments;
	-moz-box-shadow: inset @arguments;
	box-shadow: inset @arguments;
}

//
//	UPPERCASE
//	----------------------------------------------------------------------------
.make-uppercase( @letter-spacing: 1px ) {
	letter-spacing: @letter-spacing;
	text-transform: uppercase;
}