/*!
 *	Theme Name:			BizCraft
 *	Theme URI:			https://buzzcraftmarketing.com/tools/wordpress-theme
 *	Version:			1.0.0
 *	Author:				Jitesh Patil
 *	Author URI:			https://buzzcraftmarketing.com/
 *	Description:		WordPress theme for businesses. 
 *
 *	Copyright 2014 Devamigo
 *	
 *	Licensed under the Apache License, Version 2.0 (the "License");
 *	you may not use this file except in compliance with the License.
 *	You may obtain a copy of the License at
 *	
 *		http://www.apache.org/licenses/LICENSE-2.0
 *	
 *	Unless required by applicable law or agreed to in writing, software
 *	distributed under the License is distributed on an "AS IS" BASIS,
 *	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *	See the License for the specificspecific language governing permissions and
 *	limitations under the License.
 *	----------------------------------------------------------------------------
 */

//
//	IMPORT
//	----------------------------------------------------------------------------
@import 'reset.less';
@import 'mixins.less';

//
//	COLOR VARS
//	----------------------------------------------------------------------------
@accent-color:				#1F9EA3;
@alt-accent-color:			#3B0102;

@text-color:				#404040;
@alt-text-color:			#999;
@heading-text-color:		#222;

@block-bg-color:			#ebe9dd;
@border-color:				#e6e6e6;
@input-border-color:		#ccc;

//
//	LAYOUT VARS
//	----------------------------------------------------------------------------
@grid-breakpoint:			990px;
@grid-columns:				12;
@grid-gutter-width:			60px;

@container-max-width:		1200px;
@container-sm-max-width:	( @container-max-width * 2 / 3 );

//
//	TYPOGRAPHY VARS
//	----------------------------------------------------------------------------
@code-font:					'Iconsolata', monospace;
@icon-font:					'Fontawesome';
@text-font:					'Source Sans Pro', serif;

@base-font-size:			20px;
@base-line-height:			30px;

@h1-font-size:				2.441em;
@h2-font-size:				1.953em;
@h3-font-size:				1.563em;
@h4-font-size:				1.25em;
@h5-font-size:				1em;
@h6-font-size:				0.8em;

@heading-line-height:		1.25;

//
//	FORM ELEMENT VARS
//	----------------------------------------------------------------------------
@input-border-width:		1px;
@input-height:				@base-line-height * 1.5;
@input-margin-bottom:		@base-line-height / 2;
@input-padding:				( @input-height / 2 - @base-line-height / 2 - @input-border-width ) 1em;

@button-border-radius:		3px;
@button-height:				@base-line-height * 1.5;
@button-big-height:			@base-line-height * 2;

//
//	COMMON WP STYLES
//	----------------------------------------------------------------------------
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	display: inline;
	float: left;
	margin: 0 @base-line-height @base-line-height 0;
}

.alignright {
	display: inline;
	float: right;
	margin: 0 0 @base-line-height @base-line-height;
}

.highlight {
	background-color: @block-bg-color;
	padding: @base-line-height;
}

//
//	LAYOUT STYLES
//	----------------------------------------------------------------------------
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: @container-sm-max-width;
	padding-left: @grid-gutter-width / 2;
	padding-right: @grid-gutter-width / 2;
	
	@media( min-width: @grid-breakpoint ) {
		max-width: @container-max-width;
	}
}

.container-sm {
	margin-left: auto;
	margin-right: auto;
	max-width: @container-sm-max-width;
}

.row {
	.make-row( @grid-gutter-width );
}

.make-columns( @grid-columns, @grid-gutter-width, sm );

@media( min-width: @grid-breakpoint ) {
	.make-columns( @grid-columns, @grid-gutter-width, bg );
}

//
//	TYPOGRAPHY STYLES
//	----------------------------------------------------------------------------
body, input, select, textarea {
	color: @text-color;
	font-family: @text-font;
	font-size: @base-font-size;
	line-height: @base-line-height;
}

address, blockquote, dl, figure, hr, ol, p, pre, table, ul {
	.make-block( @base-line-height );
}

address, blockquote, pre {
	background-color: @block-bg-color;
	padding: @base-line-height;
}

dl {
	dt {
		font-weight: bold;
	}
	
	dd {
		margin-left: @base-line-height;
	}
}

figure, img {
	height: auto;
	max-width: 100%;
}

figure {
	background-color: @block-bg-color;
	padding: @base-line-height / 2;
	
	img {
		.aligncenter;
	}
	
	figcaption {
		font-size: @h6-font-size;
		font-style: italic;
		padding-top: @base-line-height / 2;
		text-align: center;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	.make-block( @base-line-height / 2 );
	color: @heading-text-color;
	font-weight: bold;
	line-height: @heading-line-height;
}

h1, .h1 {
	font-size: @h1-font-size;
	font-weight: 900;
}

h2, .h2 {
	font-size: @h2-font-size;
}

h3, .h3 {
	font-size: @h3-font-size;
}

h4, .h4 {
	font-size: @h4-font-size;
}

h5, .h5 {
	font-size: @h5-font-size;
}

h6, .h6 {
	font-size: @h6-font-size;
}

hr {
	border: 0;
	border-bottom: solid 1px @border-color;
	
	&.section-separator {
		height: @base-line-height;
		margin-bottom: @base-line-height * 2;
	}
}

pre {
	font-family: @code-font;
	overflow: auto;
	-webkit-tab-size: 4;
	-moz-tab-size: 4;
	tab-size: 4;
}

ol, ul {
	margin-left: @base-line-height;
	
	li {
		.make-block( @base-line-height / 2 );
	}
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

table {
	border: solid 1px @border-color;
	width: 100%;
	
	th, td {
		border-top: solid 1px @border-color;
		border-right: dotted 1px @border-color;
		padding: ( @base-line-height / 4 ) ( @base-line-height / 2 );
		text-align: center;
		
		&:last-child {
			border-right: 0;
		}
	}
	
	thead { 
		th, td {
			border-top: 0;
		}
	}
}

a {
	.animate();
	border-bottom: solid 1px transparent;
	color: @accent-color;
	text-decoration: none;
	
	&:hover {
		border-bottom-color: @accent-color;
	}
}

abbr[title], acronym[title] {
	border-bottom: dotted 1px @text-color;
	cursor: help;
	text-decoration: none;
	
	a & {
		border-bottom: 0;
	}
}

big {
	font-size: @h4-font-size;
}

cite {
	font-weight: bold;
	
	blockquote & {
		display: block;
		font-size: @h6-font-size;
		margin-top: @base-line-height;
	}
}

code, kbd, tt, var {
	background-color: @block-bg-color;
	font-family: @code-font;
	padding: 0 3px;
}

del, strike {
	text-decoration: line-through;
}

em {
	font-style: italic;
}

ins {
	border-bottom: solid 1px @text-color;
	text-decoration: none;
}

q {
	&:before {
		content: '\201c';
	}
	
	&:after {
		content: '\201d';
	}
}

small {
	font-size: @h6-font-size;
}

strong {
	font-weight: bold;
}

sub, sup {
	font-size: @h6-font-size;
	position: relative;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

//
//	FORM ELEMENT STYLES
//	----------------------------------------------------------------------------
form p {
	margin-bottom: 0;
}

input, select, textarea {
	border: solid @input-border-width @input-border-color;
	display: inline-block;
	margin-bottom: @input-margin-bottom;
	padding: @input-padding;
	width: 100%;
}

input[type=checkbox], input[type=radio] {
	width: auto;
}

input[type=submit] {
	.make-button( @accent-color, @alt-accent-color, white, @base-font-size, @button-height, @button-border-radius );
}

label {
	color: @alt-text-color;
	font-size: @h6-font-size;
}

textarea {
	height: @input-height * 3;
}

.button {
	.make-button( @accent-color, @alt-accent-color, white, @base-font-size, @button-height, @button-border-radius );
}
	
.button-alt {
	.make-button( @accent-color, @accent-color, white, @base-font-size, @button-height, @button-border-radius );
	
	&:hover {
		.shadow-inner( 0, 0, @base-line-height * 3, fadeout( black, 70% ) );
	}
}
	
.button-big {
	.make-button( @accent-color, @alt-accent-color, white, @base-font-size, @button-big-height, @button-border-radius );
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.button-alt-big {
	.make-button( @accent-color, @accent-color, white, @base-font-size, @button-big-height, @button-border-radius );
	padding-left: 1.5em;
	padding-right: 1.5em;
	
	&:hover {
		.shadow-inner( 0, 0, @base-line-height * 3, fadeout( black, 70% ) );
	}
}

//
//	SITE HEADER STYLES
//	----------------------------------------------------------------------------
#site-header {
	.make-uppercase();
	background-color: @alt-accent-color;
	color: white;
	font-size: @h6-font-size;
	font-weight: bold;
	
	a {
		border-bottom: 0;
		color: white;
		
		&:hover {
			color: @accent-color;
		}
	}
	
	.container {
		position: relative;
	}
}

//
//	BRAND STYLES
//	----------------------------------------------------------------------------
#brand {
	.site-title {
		font-weight: 900;
		letter-spacing: 2px;
		line-height: @base-line-height * 3;
	}
	
	.site-logo-link, .site-logo {
		display: block;
		float: left;
	}
}

//
//	HEADER MENU STYLES
//	----------------------------------------------------------------------------
#header-menu-toggle {
	.make-rounded( @button-border-radius );
	background-color: @accent-color;
	border: 0;
	color: white;
	cursor: pointer;
	display: block;
	height: @button-height;
	font-size: 18px;
	font-weight: normal;
	line-height: @button-height;
	margin: 0;
	padding: 0;
	position: absolute;
	right: @grid-gutter-width / 2;
	text-align: center;
	top: ( @base-line-height * 3 - @button-height ) / 2;
	width: @button-height;
	
	@media( min-width: @grid-breakpoint ) {
		display: none;
	}
}

#header-menu {
	display: none;
	font-weight: normal;

	&, .sub-menu {
		list-style: none;
		margin: 0;
	}
	
	@media( min-width: @grid-breakpoint ) {
		display: block;
		text-align: right;
	}
	
	li {
		border-top: dotted 1px fadeout( black, 80% );
		margin: 0;
		position: relative;
		
		@media( min-width: @grid-breakpoint ) {
			border-top: 0;
			display: inline-block;
			margin-left: @grid-gutter-width / 2;
			
			&.menu-item-has-children {
				& > a:after {
					content: '\f0d7';
					font-family: @icon-font;
					margin-left: 3px;
				}
				
				&:hover {
					.sub-menu {
						display: block;
					}
				}
			}
		}
	}
	
	a {
		display: inline-block;
		padding: ( @base-line-height / 2 ) 0;
		
		@media( min-width: @grid-breakpoint ) {
			padding: @base-line-height 0;
		}
	}
		
	.sub-menu-expander {
		cursor: pointer;
		display: block;
		height: @base-line-height * 2;
		font-size: 24px;
		line-height: @base-line-height * 2;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: @base-line-height * 1.5;
		
		@media( min-width: @grid-breakpoint ) {
			display: none;
		}
	}
	
	.sub-menu {
		display: none;
		position: relative;
		
		@media( min-width: @grid-breakpoint ) {
			background-color: @alt-accent-color;
			left: @grid-gutter-width / -2;
			position: absolute;
			text-align: left;
			top: 100%;
			width: 250px;
			z-index: 99999;
		}
		
		li {
			padding-left: @base-line-height;
			
			@media( min-width: @grid-breakpoint ) {
				border-top: dotted 1px fadeout( black, 80% ); 
				display: block;
				margin: 0;
				padding: 0 ( @grid-gutter-width / 2 );
				
				a {
					line-height: 1.5;
					padding: ( @base-line-height / 3 ) 0;
					width: 100%;
				}
			}
		}
	}
	
	.current-menu-item > a {
		color: @accent-color;
	}
}

//
//	SITE CONTENT STYLES
//	----------------------------------------------------------------------------
#site-content {
	border-top: solid 1px @border-color;
}

//
//	PAGE HEADER STYLES
//	----------------------------------------------------------------------------
#page-header {
	background-color: @block-bg-color;
	padding: ( @base-line-height / 2 ) 0;
}

//
//	ENTRY STYLES
//	----------------------------------------------------------------------------
.hentry {
	border-bottom: solid 1px @border-color;
	padding: ( @base-line-height * 1.5 ) 0;
	
	&:last-child {
		border-bottom: 0;
	}
}

.entry-header {
	.make-block( @base-line-height / 2 );
	
	a {
		border: 0;
		color: @alt-accent-color;
		
		&:hover {
			color: @accent-color;
		}
	}
}

.entry-title {
	color: @alt-accent-color;
}

.entry-meta {
	color: @alt-text-color;
	font-size: @h6-font-size;
	
	.entry-author, .entry-tags {
		&:before {
			content: '\2014';
			margin: 0 5px;
		}
	}
}

.entry-content, .entry-image {
	.make-block( @base-line-height );
}

.entry-image {
	a {
		border: 0;
	}
	
	img {
		.aligncenter;
	}
}

//
//	COMMENTS STYLES
//	----------------------------------------------------------------------------
#comments {
	padding: ( @base-line-height * 1.5 ) 0;
}

#comments-title {
	border-bottom: dotted 1px @border-color;
	margin-bottom: @base-line-height;
	padding-bottom: @base-line-height / 2;
}

#comments-list {
	&, & .children {
		list-style: none;
		margin-left: 0;
	}
}

.comment {
	border-bottom: dotted 1px @border-color;
	margin-bottom: @base-line-height;
	padding-bottom: @base-line-height;
	
	.children & {
		border-bottom: 0;
		border-top: dotted 1px @border-color;
		margin-bottom: 0;
		margin-left: @grid-gutter-width;
		margin-top: @base-line-height;
		padding-bottom: 0;
		padding-top: @base-line-height / 2;
	}
}

.comment-meta {
	.avatar {
		float: left;
		margin-right: @base-line-height / 2;
	}
	
	.comment-metadata {
		color: @alt-text-color;
		font-size: @h6-font-size;
		
		a {
			border: 0;
			color: @alt-text-color;
			cursor: text;
		}
	}
}

.comment-content {
	margin: ( @base-line-height / 2 ) 0;
}

.comment-respond {
	background-color: @block-bg-color;
	padding: @base-line-height * 1.5;
	
	.comment & {
		margin-top: @base-line-height;
	}
}

.comment-reply-title {
	small {
		float: right;
		font-size: @base-font-size;
		font-weight: normal;
		
		a {
			font-size: @h6-font-size;
			
			&:before {
				content: '\f00d';
				font-family: @icon-font;
				margin-right: 2px;
			}
		}
	}
}

.logged-in-as, .comment-notes {
	margin-bottom: @base-line-height;
}

//
//	POST NAVIGATION STYLES
//	----------------------------------------------------------------------------
.post-navigation, .posts-navigation {
	.clr;
	border-bottom: solid 1px @border-color;
	padding: @base-line-height 0;
	
	&:last-child {
		border-bottom: 0;
	}
	
	.nav-previous, .nav-next {
		float: left;
		width: 50%;
	}
	
	.nav-previous {
		padding-right: @base-line-height / 2;
		
		&:before {
			content: '\2190';
			margin-right: 5px;
		}
	}
	
	.nav-next {
		padding-left: @base-line-height / 2;
		text-align: right;
		
		&:after {
			content: '\2192';
			margin-left: 5px;
		}
	}
}

//
//	SIDEBAR STYLES
//	----------------------------------------------------------------------------
#sidebar {
	border-top: solid 1px @border-color;
	
	@media( min-width: @grid-breakpoint ) {
		border-top: 0;
	}
	
	.widget {
		border-bottom: solid 1px @border-color;
		padding: ( @base-line-height * 1.5 ) 0;
		
		&:last-child {
			border-bottom: 0;
		}
	}
	
	ul, ol {
		list-style: none;
		margin-left: 0;
	}
	
	.widget-title, li {
		border-bottom: dotted 1px @border-color;
		margin-bottom: @base-line-height / 2;
		padding-bottom: @base-line-height / 2;
		
		li {
			border-bottom: 0;
			border-top: dotted 1px @border-color;
			margin-bottom: 0;
			margin-left: @base-line-height;
			margin-top: @base-line-height / 2;
			padding-bottom: 0;
			padding-top: @base-line-height / 2;
		}
		
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

//
//	SITE FOOTER STYLES
//	----------------------------------------------------------------------------
#site-footer {
	background-color: black;
	color: white;
	font-size: @h6-font-size;
	padding: ( @base-line-height * 1.5 ) 0;
	text-align: center;
}

#footer-nav {
	.make-block( @base-line-height / 2 );
} 

#footer-menu {
	list-style: none;
	margin-left: 0;
	
	li {
		display: inline;
		margin: 0 ( @base-line-height / 2 );
	}
}

//
//	FOOTER SIDEBAR STYLES
//	----------------------------------------------------------------------------
#sidebar-footer {
	.overlay( black, 0.6 );
	background-color: @alt-accent-color;
	color: white;
	
	.widget {
		padding-bottom: @base-line-height * 1.5;
		padding-top: @base-line-height * 1.5;
	}
	
	ul, ol {
		list-style: none;
		margin-left: 0;
	}

	.widget-title, li {
		border-bottom: dotted 1px fadeout( white, 90% );
		color: white;
		margin-bottom: @base-line-height / 2;
		padding-bottom: @base-line-height / 2;
		
		li {
			border-bottom: 0;
			border-top: dotted 1px fadeout( white, 90% );
			margin-bottom: 0;
			margin-left: @base-line-height;
			margin-top: @base-line-height / 2;
			padding-bottom: 0;
			padding-top: @base-line-height / 2;
		}
		
		&:last-child {
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
}

//
//	FRONT PAGE STYLES
//	----------------------------------------------------------------------------
#featured-posts {
	height: @base-line-height * 16;
	overflow: hidden;
	position: relative;
	
	.cycle-slide {
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	
	.featured-post {
		.overlay();
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		
		.container {
			height: @base-line-height * 16;
		
			.hentry {
				left: @grid-gutter-width;
				padding: 0;
				position: absolute;
				right: @grid-gutter-width;
				top: 50%;
				transform: translateY( -50% );
			}
		}
	}
	
	.cycle-button {
		cursor: pointer;
		display: block;
		height: @input-height;
		left: 0;
		line-height: @input-height;
		position: absolute;
		text-align: center;
		top: 50%;
		transform: translateY( -50% );
		width: @input-height;
		z-index: 9999;
		
		&.cycle-next {
			left: auto;
			right: 0;
		}
	}
}
	
	
#sidebar-front {
	background-color: @block-bg-color;
	text-align: center;
	
	.widget {
		padding-bottom: @base-line-height * 2;
		padding-top: @base-line-height * 2;
	}
}

//
//	PAGE TEMPLATE STYLES
//	----------------------------------------------------------------------------
.page-template-page_no-sidebar {
	#main {
		margin-left: auto;
		margin-right: auto;
		max-width: @container-sm-max-width + @grid-gutter-width;
		
		.hentry {
			padding-bottom: @base-line-height * 2.5;
			padding-top: @base-line-height * 2.5;
		}
		
		.entry-header {
			text-align: center;
		}
	}
}

.page-template-page_full-width {
	.entry-header {
		text-align: center;
	}
}

//
//	404 PAGE STYLES
//	----------------------------------------------------------------------------
.error-404 {
	max-width: @container-sm-max-width;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: @base-line-height * 3;
	padding-top: @base-line-height * 3;
	text-align:center;
}

//
//	CONTACT FORM 7 STYLES
//	----------------------------------------------------------------------------
.wpcf7 {
	background-color: @block-bg-color;
	padding: @base-line-height * 1.5 !important;
	
	.ajax-loader {
		margin-left: 10px !important;
	}
	
	.wpcf7-not-valid-tip {
		.screen-reader-text;
	}
	
	.wpcf7-not-valid {
		border-color: red;
	}
	
	.wpcf7-display-none {
		display: none;
	}
	
	.wpcf7-response-output {
		background-color: transparent;
		border: solid 1px red;
		color: red;
		margin: 0;
		padding: @base-line-height;
		
		&.wpcf7-mail-sent-ok {
			border-color: @border-color;
			color: @text-color;
		}
	}
}