/*!
 *	Theme Name:			BizCraft
 *	Theme URI:			https://buzzcraftmarketing.com/tools/wordpress-theme
 *	Version:			1.0.0
 *	Author:				Jitesh Patil
 *	Author URI:			https://buzzcraftmarketing.com/
 *	Description:		WordPress theme for businesses. 
 *
 *	Copyright 2014 Devamigo
 *	
 *	Licensed under the Apache License, Version 2.0 (the "License");
 *	you may not use this file except in compliance with the License.
 *	You may obtain a copy of the License at
 *	
 *		http://www.apache.org/licenses/LICENSE-2.0
 *	
 *	Unless required by applicable law or agreed to in writing, software
 *	distributed under the License is distributed on an "AS IS" BASIS,
 *	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *	See the License for the specificspecific language governing permissions and
 *	limitations under the License.
 *	----------------------------------------------------------------------------
 */html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body{background-color:#fff;color:#000}.clr:after,.clr:before{content:'';display:table}.clr:after{clear:both}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.aligncenter{display:block;margin-left:auto;margin-right:auto}.alignleft{display:inline;float:left;margin:0 30px 30px 0}.alignright{display:inline;float:right;margin:0 0 30px 30px}.highlight{background-color:#ebe9dd;padding:30px}.container{margin-left:auto;margin-right:auto;max-width:800px;padding-left:30px;padding-right:30px}@media (min-width:990px){.container{max-width:1200px}}.container-sm{margin-left:auto;margin-right:auto;max-width:800px}.row{margin-left:-30px;margin-right:-30px}.row:after,.row:before{content:'';display:table}.row:after{clear:both}.col-sm-1{float:left;padding-left:30px;padding-right:30px;width:8.33333333%}.col-sm-2{float:left;padding-left:30px;padding-right:30px;width:16.66666667%}.col-sm-3{float:left;padding-left:30px;padding-right:30px;width:25%}.col-sm-4{float:left;padding-left:30px;padding-right:30px;width:33.33333333%}.col-sm-5{float:left;padding-left:30px;padding-right:30px;width:41.66666667%}.col-sm-6{float:left;padding-left:30px;padding-right:30px;width:50%}.col-sm-7{float:left;padding-left:30px;padding-right:30px;width:58.33333333%}.col-sm-8{float:left;padding-left:30px;padding-right:30px;width:66.66666667%}.col-sm-9{float:left;padding-left:30px;padding-right:30px;width:75%}.col-sm-10{float:left;padding-left:30px;padding-right:30px;width:83.33333333%}.col-sm-11{float:left;padding-left:30px;padding-right:30px;width:91.66666667%}.col-sm-12{float:left;padding-left:30px;padding-right:30px;width:100%}@media (min-width:990px){.col-bg-1{float:left;padding-left:30px;padding-right:30px;width:8.33333333%}.col-bg-2{float:left;padding-left:30px;padding-right:30px;width:16.66666667%}.col-bg-3{float:left;padding-left:30px;padding-right:30px;width:25%}.col-bg-4{float:left;padding-left:30px;padding-right:30px;width:33.33333333%}.col-bg-5{float:left;padding-left:30px;padding-right:30px;width:41.66666667%}.col-bg-6{float:left;padding-left:30px;padding-right:30px;width:50%}.col-bg-7{float:left;padding-left:30px;padding-right:30px;width:58.33333333%}.col-bg-8{float:left;padding-left:30px;padding-right:30px;width:66.66666667%}.col-bg-9{float:left;padding-left:30px;padding-right:30px;width:75%}.col-bg-10{float:left;padding-left:30px;padding-right:30px;width:83.33333333%}.col-bg-11{float:left;padding-left:30px;padding-right:30px;width:91.66666667%}.col-bg-12{float:left;padding-left:30px;padding-right:30px;width:100%}}body,input,select,textarea{color:#404040;font-family:'Source Sans Pro',serif;font-size:20px;line-height:30px}address,blockquote,dl,figure,hr,ol,p,pre,table,ul{margin-bottom:30px}address:last-child,blockquote:last-child,dl:last-child,figure:last-child,hr:last-child,ol:last-child,p:last-child,pre:last-child,table:last-child,ul:last-child{margin-bottom:0}address,blockquote,pre{background-color:#ebe9dd;padding:30px}dl dt{font-weight:700}dl dd{margin-left:30px}figure,img{height:auto;max-width:100%}figure{background-color:#ebe9dd;padding:15px}figure img{display:block;margin-left:auto;margin-right:auto}figure figcaption{font-size:.8em;font-style:italic;padding-top:15px;text-align:center}h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{margin-bottom:15px;color:#222;font-weight:700;line-height:1.25}h1:last-child,.h1:last-child,h2:last-child,.h2:last-child,h3:last-child,.h3:last-child,h4:last-child,.h4:last-child,h5:last-child,.h5:last-child,h6:last-child,.h6:last-child{margin-bottom:0}h1,.h1{font-size:2.441em;font-weight:900}h2,.h2{font-size:1.953em}h3,.h3{font-size:1.563em}h4,.h4{font-size:1.25em}h5,.h5{font-size:1em}h6,.h6{font-size:.8em}hr{border:0;border-bottom:solid 1px #e6e6e6}hr.section-separator{height:30px;margin-bottom:60px}pre{font-family:Iconsolata,monospace;overflow:auto;-webkit-tab-size:4;-moz-tab-size:4;tab-size:4}ol,ul{margin-left:30px}ol li,ul li{margin-bottom:15px}ol li:last-child,ul li:last-child{margin-bottom:0}ol{list-style:decimal}ul{list-style:disc}table{border:solid 1px #e6e6e6;width:100%}table th,table td{border-top:solid 1px #e6e6e6;border-right:dotted 1px #e6e6e6;padding:7.5px 15px;text-align:center}table th:last-child,table td:last-child{border-right:0}table thead th,table thead td{border-top:0}a{-webkit-transition:all .6s;-moz-transition:all .6s;-ms-transition:all .6s;-o-transition:all .6s;transition:all .6s;border-bottom:solid 1px transparent;color:#1f9ea3;text-decoration:none}a:hover{border-bottom-color:#1f9ea3}abbr[title],acronym[title]{border-bottom:dotted 1px #404040;cursor:help;text-decoration:none}a abbr[title],a acronym[title]{border-bottom:0}big{font-size:1.25em}cite{font-weight:700}blockquote cite{display:block;font-size:.8em;margin-top:30px}code,kbd,tt,var{background-color:#ebe9dd;font-family:Iconsolata,monospace;padding:0 3px}del,strike{text-decoration:line-through}em{font-style:italic}ins{border-bottom:solid 1px #404040;text-decoration:none}q:before{content:'\201c'}q:after{content:'\201d'}small{font-size:.8em}strong{font-weight:700}sub,sup{font-size:.8em;position:relative}sub{bottom:-.25em}sup{top:-.5em}form p{margin-bottom:0}input,select,textarea{border:solid 1px #ccc;display:inline-block;margin-bottom:15px;padding:6.5px 1em;width:100%}input[type=checkbox],input[type=radio]{width:auto}input[type=submit]{-webkit-transition:all .6s;-moz-transition:all .6s;-ms-transition:all .6s;-o-transition:all .6s;transition:all .6s;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#1f9ea3;border:0;color:#fff;cursor:pointer;display:inline-block;font-size:20px;font-weight:700;letter-spacing:2px;line-height:1;padding:12.5px 1em;text-transform:uppercase;width:auto}input[type=submit]:hover{background-color:#3b0102}label{color:#999;font-size:.8em}textarea{height:135px}.button{-webkit-transition:all .6s;-moz-transition:all .6s;-ms-transition:all .6s;-o-transition:all .6s;transition:all .6s;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#1f9ea3;border:0;color:#fff;cursor:pointer;display:inline-block;font-size:20px;font-weight:700;letter-spacing:2px;line-height:1;padding:12.5px 1em;text-transform:uppercase;width:auto}.button:hover{background-color:#3b0102}.button-alt{-webkit-transition:all .6s;-moz-transition:all .6s;-ms-transition:all .6s;-o-transition:all .6s;transition:all .6s;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#1f9ea3;border:0;color:#fff;cursor:pointer;display:inline-block;font-size:20px;font-weight:700;letter-spacing:2px;line-height:1;padding:12.5px 1em;text-transform:uppercase;width:auto}.button-alt:hover{background-color:#1f9ea3}.button-alt:hover{-webkit-box-shadow:inset 0 0 90px rgba(0,0,0,.3);-moz-box-shadow:inset 0 0 90px rgba(0,0,0,.3);box-shadow:inset 0 0 90px rgba(0,0,0,.3)}.button-big{-webkit-transition:all .6s;-moz-transition:all .6s;-ms-transition:all .6s;-o-transition:all .6s;transition:all .6s;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#1f9ea3;border:0;color:#fff;cursor:pointer;display:inline-block;font-size:20px;font-weight:700;letter-spacing:2px;line-height:1;padding:20px 1em;text-transform:uppercase;width:auto;padding-left:1.5em;padding-right:1.5em}.button-big:hover{background-color:#3b0102}.button-alt-big{-webkit-transition:all .6s;-moz-transition:all .6s;-ms-transition:all .6s;-o-transition:all .6s;transition:all .6s;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#1f9ea3;border:0;color:#fff;cursor:pointer;display:inline-block;font-size:20px;font-weight:700;letter-spacing:2px;line-height:1;padding:20px 1em;text-transform:uppercase;width:auto;padding-left:1.5em;padding-right:1.5em}.button-alt-big:hover{background-color:#1f9ea3}.button-alt-big:hover{-webkit-box-shadow:inset 0 0 90px rgba(0,0,0,.3);-moz-box-shadow:inset 0 0 90px rgba(0,0,0,.3);box-shadow:inset 0 0 90px rgba(0,0,0,.3)}#site-header{letter-spacing:1px;text-transform:uppercase;background-color:#3b0102;color:#fff;font-size:.8em;font-weight:700}#site-header a{border-bottom:0;color:#fff}#site-header a:hover{color:#1f9ea3}#site-header .container{position:relative}#brand .site-title{font-weight:900;letter-spacing:2px;line-height:90px}#brand .site-logo-link,#brand .site-logo{display:block;float:left}#header-menu-toggle{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#1f9ea3;border:0;color:#fff;cursor:pointer;display:block;height:45px;font-size:18px;font-weight:400;line-height:45px;margin:0;padding:0;position:absolute;right:30px;text-align:center;top:22.5px;width:45px}@media (min-width:990px){#header-menu-toggle{display:none}}#header-menu{display:none;font-weight:400}#header-menu,#header-menu .sub-menu{list-style:none;margin:0}@media (min-width:990px){#header-menu{display:block;text-align:right}}#header-menu li{border-top:dotted 1px rgba(0,0,0,.2);margin:0;position:relative}@media (min-width:990px){#header-menu li{border-top:0;display:inline-block;margin-left:30px}#header-menu li.menu-item-has-children>a:after{content:'\f0d7';font-family:Fontawesome;margin-left:3px}#header-menu li.menu-item-has-children:hover .sub-menu{display:block}}#header-menu a{display:inline-block;padding:15px 0}@media (min-width:990px){#header-menu a{padding:30px 0}}#header-menu .sub-menu-expander{cursor:pointer;display:block;height:60px;font-size:24px;line-height:60px;position:absolute;right:0;text-align:center;top:0;width:45px}@media (min-width:990px){#header-menu .sub-menu-expander{display:none}}#header-menu .sub-menu{display:none;position:relative}@media (min-width:990px){#header-menu .sub-menu{background-color:#3b0102;left:-30px;position:absolute;text-align:left;top:100%;width:250px;z-index:99999}}#header-menu .sub-menu li{padding-left:30px}@media (min-width:990px){#header-menu .sub-menu li{border-top:dotted 1px rgba(0,0,0,.2);display:block;margin:0;padding:0 30px}#header-menu .sub-menu li a{line-height:1.5;padding:10px 0;width:100%}}#header-menu .current-menu-item>a{color:#1f9ea3}#site-content{border-top:solid 1px #e6e6e6}#page-header{background-color:#ebe9dd;padding:15px 0}.hentry{border-bottom:solid 1px #e6e6e6;padding:45px 0}.hentry:last-child{border-bottom:0}.entry-header{margin-bottom:15px}.entry-header:last-child{margin-bottom:0}.entry-header a{border:0;color:#3b0102}.entry-header a:hover{color:#1f9ea3}.entry-title{color:#3b0102}.entry-meta{color:#999;font-size:.8em}.entry-meta .entry-author:before,.entry-meta .entry-tags:before{content:'\2014';margin:0 5px}.entry-content,.entry-image{margin-bottom:30px}.entry-content:last-child,.entry-image:last-child{margin-bottom:0}.entry-image a{border:0}.entry-image img{display:block;margin-left:auto;margin-right:auto}#comments{padding:45px 0}#comments-title{border-bottom:dotted 1px #e6e6e6;margin-bottom:30px;padding-bottom:15px}#comments-list,#comments-list .children{list-style:none;margin-left:0}.comment{border-bottom:dotted 1px #e6e6e6;margin-bottom:30px;padding-bottom:30px}.children .comment{border-bottom:0;border-top:dotted 1px #e6e6e6;margin-bottom:0;margin-left:60px;margin-top:30px;padding-bottom:0;padding-top:15px}.comment-meta .avatar{float:left;margin-right:15px}.comment-meta .comment-metadata{color:#999;font-size:.8em}.comment-meta .comment-metadata a{border:0;color:#999;cursor:text}.comment-content{margin:15px 0}.comment-respond{background-color:#ebe9dd;padding:45px}.comment .comment-respond{margin-top:30px}.comment-reply-title small{float:right;font-size:20px;font-weight:400}.comment-reply-title small a{font-size:.8em}.comment-reply-title small a:before{content:'\f00d';font-family:Fontawesome;margin-right:2px}.logged-in-as,.comment-notes{margin-bottom:30px}.post-navigation,.posts-navigation{border-bottom:solid 1px #e6e6e6;padding:30px 0}.post-navigation:after,.posts-navigation:after,.post-navigation:before,.posts-navigation:before{content:'';display:table}.post-navigation:after,.posts-navigation:after{clear:both}.post-navigation:last-child,.posts-navigation:last-child{border-bottom:0}.post-navigation .nav-previous,.posts-navigation .nav-previous,.post-navigation .nav-next,.posts-navigation .nav-next{float:left;width:50%}.post-navigation .nav-previous,.posts-navigation .nav-previous{padding-right:15px}.post-navigation .nav-previous:before,.posts-navigation .nav-previous:before{content:'\2190';margin-right:5px}.post-navigation .nav-next,.posts-navigation .nav-next{padding-left:15px;text-align:right}.post-navigation .nav-next:after,.posts-navigation .nav-next:after{content:'\2192';margin-left:5px}#sidebar{border-top:solid 1px #e6e6e6}@media (min-width:990px){#sidebar{border-top:0}}#sidebar .widget{border-bottom:solid 1px #e6e6e6;padding:45px 0}#sidebar .widget:last-child{border-bottom:0}#sidebar ul,#sidebar ol{list-style:none;margin-left:0}#sidebar .widget-title,#sidebar li{border-bottom:dotted 1px #e6e6e6;margin-bottom:15px;padding-bottom:15px}#sidebar .widget-title li,#sidebar li li{border-bottom:0;border-top:dotted 1px #e6e6e6;margin-bottom:0;margin-left:30px;margin-top:15px;padding-bottom:0;padding-top:15px}#sidebar .widget-title:last-child,#sidebar li:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0}#site-footer{background-color:#000;color:#fff;font-size:.8em;padding:45px 0;text-align:center}#footer-nav{margin-bottom:15px}#footer-nav:last-child{margin-bottom:0}#footer-menu{list-style:none;margin-left:0}#footer-menu li{display:inline;margin:0 15px}#sidebar-footer{background-color:#3b0102;color:#fff}#sidebar-footer,#sidebar-footer>*{position:relative}#sidebar-footer:before{background-color:#000;bottom:0;content:'';display:block;left:0;opacity:.6;position:absolute;right:0;top:0}#sidebar-footer .widget{padding-bottom:45px;padding-top:45px}#sidebar-footer ul,#sidebar-footer ol{list-style:none;margin-left:0}#sidebar-footer .widget-title,#sidebar-footer li{border-bottom:dotted 1px rgba(255,255,255,.1);color:#fff;margin-bottom:15px;padding-bottom:15px}#sidebar-footer .widget-title li,#sidebar-footer li li{border-bottom:0;border-top:dotted 1px rgba(255,255,255,.1);margin-bottom:0;margin-left:30px;margin-top:15px;padding-bottom:0;padding-top:15px}#sidebar-footer .widget-title:last-child,#sidebar-footer li:last-child{border-bottom:0;margin-bottom:0;padding-bottom:0}#featured-posts{height:480px;overflow:hidden;position:relative}#featured-posts .cycle-slide{display:block;left:0;position:absolute;top:0;width:100%}#featured-posts .featured-post{background-position:center;background-repeat:no-repeat;background-size:cover;text-align:center}#featured-posts .featured-post,#featured-posts .featured-post>*{position:relative}#featured-posts .featured-post:before{background-color:#000;bottom:0;content:'';display:block;left:0;opacity:.8;position:absolute;right:0;top:0}#featured-posts .featured-post .container{height:480px}#featured-posts .featured-post .container .hentry{left:60px;padding:0;position:absolute;right:60px;top:50%;transform:translateY(-50%)}#featured-posts .cycle-button{cursor:pointer;display:block;height:45px;left:0;line-height:45px;position:absolute;text-align:center;top:50%;transform:translateY(-50%);width:45px;z-index:9999}#featured-posts .cycle-button.cycle-next{left:auto;right:0}#sidebar-front{background-color:#ebe9dd;text-align:center}#sidebar-front .widget{padding-bottom:60px;padding-top:60px}.page-template-page_no-sidebar #main{margin-left:auto;margin-right:auto;max-width:860px}.page-template-page_no-sidebar #main .hentry{padding-bottom:75px;padding-top:75px}.page-template-page_no-sidebar #main .entry-header{text-align:center}.page-template-page_full-width .entry-header{text-align:center}.error-404{max-width:800px;margin-left:auto;margin-right:auto;padding-bottom:90px;padding-top:90px;text-align:center}.wpcf7{background-color:#ebe9dd;padding:45px!important}.wpcf7 .ajax-loader{margin-left:10px!important}.wpcf7 .wpcf7-not-valid-tip{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.wpcf7 .wpcf7-not-valid-tip:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.wpcf7 .wpcf7-not-valid{border-color:red}.wpcf7 .wpcf7-display-none{display:none}.wpcf7 .wpcf7-response-output{background-color:transparent;border:solid 1px red;color:red;margin:0;padding:30px}.wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ok{border-color:#e6e6e6;color:#404040}